<div class="row">
  <div *ngFor="let client of clients" class="col-lg-3 col-md-6">
      <div class="card-box widget-user">
          <div>
              <img [src]="getCover(client.cover)" class="rounded-circle" alt="user">
              <div class="wid-u-info">
                  <h5 class="mt-0 m-b-5 font-16">{{ client.name }}</h5>
                  <p class="text-muted m-b-5 font-13">{{ client.email }}</p>
                  <small class="text-warning"><b>{{ client.access.name }}</b></small>
              </div>
          </div>
      </div>
  </div> 
</div>