<div class="form-group" [class.has-success]="hasSuccess()" 
[class.has-error]="hasError()">
  <label class="control-label" *ngIf="label" for="inputSuccess"> {{ label }}</label>
  <ng-content></ng-content>
  <span *ngIf="icone" class="{{ icone }} form-control-feedback"></span>
  <span class="help-block" *ngIf="hasSuccess() && successMessage"><i class="fa fa-check"></i> {{ successMessage }}</span>
  <span class="help-block" *ngIf="hasError() && errorMessage"><i class="fa fa-remove"></i>{{ errorMessage }}</span>
</div>