<form [formGroup]="AppForm" role="form" class="text-left">

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <app-input-component label="Nome:" errorMessage="Campo obrigatorio">
          <input class="form-control" type="text" formControlName="name" id="name" placeholder="Digite seu nome">
        </app-input-component>
      </div>
      <div class="form-group">
        <app-input-component label="CPF/CNPJ:" errorMessage="Documento Invalido">
          <input class="form-control" (keyup)="getMask($event)" type="text" formControlName="document" id="document" placeholder="Digite o CPF ou CNPJ">
        </app-input-component>
      </div>
      <div class="form-group">
        <app-input-component label="Profissão:" errorMessage="Campo obrigatorio">
          <input class="form-control col-md-12" type="text" formControlName="profession" id="profession" placeholder="Digite a Profissão">
        </app-input-component>
      </div>
    </div>
    <div class="col-md-4">
         <div class="card m-b-0">
            <div class="form-group  has-feedback">
                <label class="control-label">
                  <i class="fa fa-image"></i> Selecione</label>
                <form-upload [fileName]="image" (result)="upload($event)" [empresa]="user.empresa"  [parent]="user.id" assets="user" rota="upload"></form-upload>
              </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <app-input-component label=" Digite um E-mail:" errorMessage="Campo obrigatorio">
          <input class="form-control col-md-12" type="email" formControlName="email" id="email" placeholder="Digite um E-mail">
        </app-input-component>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <app-input-component label="Telefone:" errorMessage="Campo obrigatorio">
          <input class="form-control col-md-12" type="text" formControlName="phone" id="phone" placeholder="Digite um Telefone">
        </app-input-component>
      </div>
    </div>
  </div>
  <div class="form-group">
    <app-input-component label="CEP:" errorMessage="Campo obrigatorio">
      <input class="form-control" kzMask="99999-999" type="text" formControlName="zip" id="zip" placeholder="Digite um Cep" value="{{ user.zip }}">
    </app-input-component>
  </div>
  <div class="form-group">
    <app-input-component label="UF:" errorMessage="Campo obrigatorio">
      <input class="form-control col-md-12" type="text" formControlName="state" id="state" placeholder="Digite uma UF">
    </app-input-component>
  </div>
  <div class="form-group">
    <app-input-component label="Cidade:" errorMessage="Campo obrigatorio">
      <input class="form-control col-md-12" type="text" formControlName="city" id="city" placeholder="Cidade">
    </app-input-component>
  </div>
  <div class="form-group">
    <app-input-component label="Bairro:" errorMessage="Campo obrigatorio">
      <input class="form-control col-md-12" type="text" formControlName="district" id="district" placeholder="Bairro">
    </app-input-component>
  </div>
  <div class="form-group">
    <app-input-component label="Logradouro:" errorMessage="Campo obrigatorio">
      <input class="form-control col-md-12" type="text" formControlName="street" id="street" placeholder="Logradouro">
    </app-input-component>
  </div>
  <div class="form-group">
    <app-input-component label="Número:" errorMessage="Campo obrigatorio">
      <input class="form-control" type="text" formControlName="number" id="number" placeholder="Número">
    </app-input-component>
  </div>
  <div class="form-group">
    <app-input-component label="Complemento:" errorMessage="Campo obrigatorio">
      <input class="form-control col-md-12" type="text" formControlName="complement" id="complement" placeholder="Complemento">
    </app-input-component>
  </div>
  <button [disabled]="!AppForm.valid" type="submit" (click)="update(AppForm.value)" class="btn btn-primary btn-custom w-md waves-effect waves-light"
    type="submit">Atualizar Dados
  </button>
</form>