<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <div class="btn-group pull-right">
        <ol class="breadcrumb hide-phone p-0 m-0">
          <li class="breadcrumb-item">
            <a routerLink="/inicio">Inicio</a>
          </li>
          <li class="breadcrumb-item active">Bem-vindo</li>
        </ol>
      </div>
      <h4 class="page-title">Aqui vai o nme da prfeitura</h4>
    </div>
  </div>
</div>
<!-- end page title end breadcrumb -->


<div class="row">
  <div class="col-md-12">
    <div class="card m-b-20 text-center">
      <div class="card-body">
        <h5 class="card-title">Olá, seja bem-vindo ao nosso sistema de pedidos de informações!</h5>
        <p class="card-text"> Aqui você poderá solicitar informações conforme rege a LAI (lei de acesso a informação).
       </div>
      <router-outlet></router-outlet>    
    </div>
  </div>
  <div class="clearfix"></div>

</div>