<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <div class="btn-group pull-right">
        <ol class="breadcrumb hide-phone p-0 m-0">
          <li class="breadcrumb-item">
            <a routerLink="/inicio">Inicio</a>
          </li>
          <li class="breadcrumb-item active">Serviço de Informações</li>
        </ol>
      </div>
      <h4 class="page-title">Aqui vai o nme da prfeitura</h4>
    </div>
  </div>
</div>
<!-- end page title end breadcrumb -->


<div class="row">
  <div class="col-12">
    <div class="card-box">
      <div class="row">
        <div class="col-12">
          <h1>Serviço de Informações ao Cidadão - SIC</h1>
          <p class="text-muted">
            O Serviço de Informações ao Cidadão (SIC) é a unidade física existente em todos os órgãos e entidades do poder público, em
            local identificado e de fácil acesso, para atender o cidadão que deseja solicitar o acesso à informação pública.
            Os SICs têm como objetivos:
          </p>
          <ul>
            <li>Atender e orientar o público quanto ao acesso a informações</li>
            <li> Conceder o acesso imediato à informação disponível</li>
            <li> Informar sobre a tramitação de documentos nas suas respectivas unidades</li>
            <li> Protocolizar documentos e requerimentos de acesso a informações</li>
          </ul>

          <div class="clearfix"></div>
        </div>
      </div>

      <!-- end row -->
    </div>
  </div>
</div>
<!-- end row -->